services:
  gns3srv:
    # Construye la imagen usando el Dockerfile en el directorio actual
    build: .
    
    container_name: gns3server
    
    # 游뚿 CR칈TICO: Necesario para uBridge, Dynamips y KVM.
    privileged: true
    
    # Mapeo de puertos
    ports:
      - "3080:3080"
      - "5000-5350:5000-5350"
      
    restart: unless-stopped
      
    # Definici칩n de vol칰menes persistentes
    volumes:
      # Configuraci칩n del servidor y archivos de proyecto (춰Ahora en /root/.config/GNS3!)
      - /opt/gns3/config:/root/.config/GNS3
      # Directorio para tus im치genes de dispositivos (IOS, QCOW2, etc.)
      - /opt/gns3/images:/opt/gns3/images
      # Dispositivo KVM para aceleraci칩n de QEMU (Host debe ser Linux con KVM)
      - /dev/kvm:/dev/kvm
      
    # NO se especifica 'user', por lo que se usar치 el usuario por defecto (root)